<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link type="text/css" rel="stylesheet" href="/default.css">
  </head>
  <body>
    <?php @include('header.inc.html')?>
    <h2>Domains l&ouml;schen</h2>
    <form action="" method="post">
      <p>
      <?php while($domain=mysql_fetch_object($rdomains)){?>
        <?php echo htmlspecialchars($domain->domain_name);if($domain->domain_name!=$domain->domain_utf8name)echo' [ '.htmlspecialchars($domain->domain_utf8name).' ] '?><br>
      <?php }?>
      </p>
      <input name="cmd" type="hidden" value="remove">
      <input name="confirm" type="hidden" value="1">
      <input name="ids" type="hidden" value="<?php echo htmlspecialchars($ids)?>">
      <input type="submit" value="l&ouml;schen">
      <a href="/index.php"><input type="button" value="abbrechen"></a>
    </form>
  </body>
</html>