<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link type="text/css" rel="stylesheet" href="/default.css">
    <script type="text/javascript">
    var state = false;
    function toggle ()
    {
      state = !state;
      var arr = document.getElementsByName ("id[]");
      for (var i = 0; i < arr.length; ++i)
      {
        arr[i].checked = state;
      }
    }
    </script>
  </head>
  <body>
    <?php @include('header.inc.html')?>
    <h2>Domainliste</h2>
    <?php if(mysql_num_rows($rdomains)<1){?>
    <p>
      keine Domains
    </p>
    <?php }else{?>
    <form action="/domains_verwalten.php" method="post">
      <p>
        Ausgew&auml;hlte Domains
        <input name="edit" type="submit" value="bearbeiten">
        <input name="remove" type="submit" value="l&ouml;schen">
      </p>
      <table border="1">
        <tr>
          <th><input type="checkbox" onclick="toggle()"></th>
          <th>Domain</th>
          <th>Preis</th>
          <th>Setup</th>
          <th>Registrierungsdatum</th>
          <th>Abrechnungsbeginn</th>
          <th>zuletzt abgerechnet</th>
          <th>Abrechnungsende</th>
          <th>Hosting zugeordnet</th>
					<th>NS-Records</th>
					<th>MX-Records</th>
					<th>Domain-Record</th>
					<th>WWW-Record</th>
        </tr>
        <?php while($domain=mysql_fetch_object($rdomains)){?>
        <tr valign="top">
          <td><input name="id[]" type="checkbox" value="<?php echo htmlspecialchars($domain->id)?>"></td>
          <td>
            <a href="/domains_verwalten.php?id=<?php echo urlencode($domain->id)?>&cmd=edit"><?php echo htmlspecialchars($domain->domain_name)?></a>
            <?php if(!strncmp($domain->domain_name,'xn--',4))echo '<br>'.htmlspecialchars($domain->domain_utf8name)?>
          </td>
          <td align="right"><?php echo htmlspecialchars(number_format($domain->preis,2,',','.'))?></td>
          <td align="right"><?php echo htmlspecialchars(number_format($domain->setup,2,',','.'))?></td>
          <td align="center"><?php echo htmlspecialchars($domain->regdate)?></td>
          <td align="center"><?php echo htmlspecialchars($domain->referenzdatum)?></td>
          <td align="center"><?php echo htmlspecialchars($domain->abgerechnet)?></td>
          <td align="center"><?php echo htmlspecialchars($domain->endedatum)?></td>
          <td align="center"><?php echo $domain->hosting?'ja':''?></td>
					<td><?php echo nl2br(htmlspecialchars(str_replace(',',"\n",$domain->nshosts)))?></td>
					<td nowrap><?php echo nl2br(htmlspecialchars(str_replace(',',"\n",$domain->mxhosts)))?></td>
					<td align="right"><a href="http://<?php echo htmlspecialchars($domain->domain_name)?>"><?php echo htmlspecialchars($domain->a_dom)?></a></td>
					<td align="right"><a href="http://www.<?php echo htmlspecialchars($domain->domain_name)?>"><?php echo htmlspecialchars($domain->a_www)?></a></td>
        </tr>
        <?php }?>
      </table>
    </form>
    <?php }?>
  </body>
</html>