<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
	<head>
		<title></title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<link type="text/css" rel="stylesheet" href="/default.css">
	</head>
	<body>
		<?php @include('header.inc.html')?>
		<h2>Domains bearbeiten</h2>
		<form action="" method="post">
			<p>
			<?php while($domain=mysql_fetch_object($rdomains)){?>
				<?php echo htmlspecialchars($domain->domain_name);if($domain->domain_name!=$domain->domain_utf8name)echo' [ '.htmlspecialchars($domain->domain_utf8name).' ] '?><br>
			<?php }?>
			</p>
			<table border="1">
				<tr>
					<th>Kunde</th>
					<td>
						<select name="kunde">
							<option value="">aktuelle Zuordnung beibehalten</option>
							<?php
							$res = @mysql_query ('SELECT kundennummer,name FROM kunde ORDER BY name,kundennummer');
							while ($obj = @mysql_fetch_object($res))
							{
								echo '<option value="' . htmlspecialchars($obj->kundennummer) . '"' . (!strcasecmp(post_value('kunde'), $obj->kundennummer) ? ' selected' : '') . '>';
								echo htmlspecialchars($obj->kundennummer) . '&nbsp;' . htmlspecialchars($obj->name);
								echo '</option>';
							}
							?>
						</select>
						<?php errormsg('leistung.kunde')?>
					</td>
				</tr>
				<tr>
					<th>Preis</th>
					<td>
						<input name="preis" type="text" value="<?=post_value('preis')?>" size="10" maxlength="13">
						<?php errormsg('leistung.preis')?>
					</td>
				</tr>
				<tr>
					<th>Setup</th>
					<td>
						<input name="setup" type="text" value="<?=post_value('setup')?>" size="10" maxlength="13">
						<?php errormsg('leistung.setup')?>
					</td>
				</tr>
				<tr>
					<th>Abrechnungsbeginn*</th>
					<td>
						<input name="referenzdatum" type="text" value="<?=post_value('referenzdatum')?>" size="10" maxlength="13">
						<?php errormsg('leistung.referenzdatum')?>
					</td>
				</tr>
				<tr>
					<th>zuletzt abgerechnet am</th>
					<td>
						<input name="abgerechnet" type="text" value="<?=post_value('abgerechnet')?>" size="10" maxlength="13">
						<?php errormsg('leistung.abgerechnet')?>
					</td>
				</tr>
				<tr>
					<th>Abrechnungsende</th>
					<td>
						<input name="endedatum" type="text" value="<?=post_value('endedatum')?>" size="10" maxlength="13">
						<?php errormsg('leistung.endedatum')?>
					</td>
				</tr>
				<tr>
					<th>Hosting</th>
					<td>
						<?php if(mysql_num_rows($rdomains)>1){?>
						<input name="hosting" type="radio" value=""<?php if(post_value('hosting')==='')echo' checked'?>>keine &Auml;nderung<br>
						<input name="hosting" type="radio" value="0"<?php if(post_value('hosting')==='0')echo' checked'?>>nein<br>
						<?php
						}
						else
						{
							mysql_data_seek ($rdomains, 0);
							$domain = mysql_fetch_object ($rdomains);
							$query  = 'SELECT';
							$query .= ' leistung.id';
							$query .= ',leistung.kommentar';
							$query .= ',artikel.domains';
							$query .= ',COUNT(leistung2.id) AS assigned';
							$query .= ',SUM(IF(leistung2.domain=' . (int)$domain->domain . ',1,0)) AS current';
							$query .= ' FROM leistung';
							$query .= ' LEFT JOIN artikel ON artikel.id=leistung.artikel';
							$query .= ' LEFT JOIN leistung AS leistung2 ON leistung2.hosting=leistung.id';
							$query .= ' WHERE leistung.kunde=' . (int)$domain->kunde;
							$query .= ' AND leistung.domain=0';
							$query .= ' AND artikel.domains>0';
							$query .= ' GROUP BY leistung.id';
							$query .= ' HAVING assigned<artikel.domains OR current>0';
							$rhosting = safe_mysql_query ($query);
							if (mysql_num_rows($rhosting))
							{
						?>
						<select name="hosting">
							<option value="0"></option>
							<?php while($hosting=mysql_fetch_object($rhosting)){?>
							<option value="<?php echo htmlspecialchars($hosting->id)?>"<?php if(post_value('hosting')==$hosting->id)echo' selected'?>><?php echo htmlspecialchars($hosting->kommentar.' ('.$hosting->assigned.'/'.$hosting->domains.')')?></option>
							<?php }?>
						</select>
						<?php errormsg('leistung.hosting')?>
						<?php }else{?>
						n/a
						<?php }}?>
					</td>
				</tr>
				<?php if(mysql_num_rows($rdomains)==1){?>
				<tr>
					<th><?php echo htmlspecialchars($domain->domain_name)?></th>
					<td><?php echo htmlspecialchars($domain->a_dom)?></td>
				</tr>
				<tr>
					<th>www.<?php echo htmlspecialchars($domain->domain_name)?></th>
					<td><?php echo htmlspecialchars($domain->a_www)?></td>
				</tr>
				<tr>
					<th>NS-Records</th>
					<td><?php echo nl2br(htmlspecialchars(str_replace(',',"\n",$domain->nshosts)))?></td>
				</tr>
				<tr>
					<th>MX-Records</th>
					<td><?php echo nl2br(htmlspecialchars(str_replace(',',"\n",$domain->mxhosts)))?></td>
				</tr>
				<?php }?>
			</table>
			<input name="cmd" type="hidden" value="edit">
			<input name="confirm" type="hidden" value="1">
			<input name="ids" type="hidden" value="<?php echo htmlspecialchars($ids)?>">
			<input type="submit" value="speichern">
			<a href="/index.php"><input type="button" value="abbrechen"></a>
		</form>
	</body>
</html>