<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link type="text/css" rel="stylesheet" href="/default.css">
  </head>
  <body>
    <?php @include('header.inc.html')?>
    <h2>Lastschriften</h2>
    <?php if(!$rlastschriften||mysql_num_rows($rlastschriften)<1){?>
    <p>keine Lastschriften</p>
    <?php }else{?>
    <form action="" method="post" name="theForm">
      <table border="1">
        <tr>
          <th>Datum</th>
          <th>Rechnung</th>
          <th>Kd.-Nr.</th>
          <th>Kontoinhaber</th>
          <th>Betrag</th>
        </tr>
        <?php while($lastschrift=mysql_fetch_object($rlastschriften)){?>
        <tr>
          <input name="id[]" type="hidden" value="<?php echo htmlspecialchars($lastschrift->id)?>">
          <td><?php echo htmlspecialchars($lastschrift->erstellt)?></td>
          <td align="right"><?php echo htmlspecialchars($lastschrift->rechnung)?></td>
          <td align="right"><?php echo htmlspecialchars($lastschrift->kunde)?></td>
          <td><?php echo htmlspecialchars($lastschrift->kontoinhaber)?></td>
          <td align="right"><?php echo htmlspecialchars(number_format($lastschrift->betrag,2,',','.'))?></td>
        </tr>
        <?php }?>
      </table>
      <input name="download" type="submit" value="DTAUS erstellen">
      <input name="process" type="submit" value="Lastschriften buchen">
    </form>
    <?php }?>
  </body>
</html>