<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link type="text/css" rel="stylesheet" href="/default.css">
    <script type="text/javascript">
    var artikel = '<?php if($leistung)echo htmlspecialchars($leistung->artikelnummer)?>';
    var kommentar = '<?php if($leistung)echo htmlspecialchars($leistung->kommentar)?>';
    var preis = '<?php if($leistung)echo htmlspecialchars($leistung->preis)?>';
    function selectArticle (artno)
    {
      document.theForm.artikel.value = artno;
      if (artno == artikel)
      {
        document.theForm.kommentar.value = kommentar;
        document.theForm.preis.value = preis;
      }
      else
      {
        document.theForm.kommentar.value = '';
        document.theForm.preis.value = '';
      }
    }
    </script>
  </head>
  <body>
    <?php @include('header.inc.html')?>
    <?php if($leistung){?>
    <h2>Leistung bearbeiten</h2>
    <?php }else{?>
    <h2>Leistung erfassen</h2>
    <?php }?>
    <?php if(error()){?><div style="color:#F00;font-family:Courier New;font-size:48pt;font-weight:bold">Fehler</div><?php }?>
    <form action="" method="post" name="theForm">
      <table border="1">
        <tr>
          <th>Artikelnummer*</th>
          <td>
            <input name="artikel" type="text" value="<?=post_value('artikel')?>" size="10" maxlength="16">
            <?php
            //$res = @mysql_query ('SELECT artikelnummer,kurztext FROM artikel WHERE domainreg=0 ORDER BY artikelnummer');
            $query  = 'SELECT';
            $query .= ' artikel.artikelnummer';
            $query .= ',artikel.kurztext';
            $query .= ',IF(NOT ISNULL(kundenpreis.preis),kundenpreis.preis,artikel.preis) AS preis';
            $query .= ',IF(NOT ISNULL(kundenpreis.setup),kundenpreis.setup,artikel.setup) AS setup';
            $query .= ' FROM artikel';
            $query .= ' LEFT JOIN kundenpreis ON kundenpreis.kunde=' . (int)$kunde->kundennummer;
            $query .= ' AND kundenpreis.artikel=artikel.id';
            $query .= ' AND (ISNULL(kundenpreis.von) OR kundenpreis.von<=CURDATE())';
            $query .= ' AND (ISNULL(kundenpreis.bis) OR kundenpreis.bis>=CURDATE())';
            $query .= ' WHERE artikel.domainreg=0';
            $query .= ' ORDER BY artikel.artikelnummer';
            $res = @mysql_query ($query);
            if (mysql_num_rows($res))
            {
            ?>
            <select onchange="selectArticle(this.options[this.selectedIndex].value)">
              <option value=""></option>
              <?php
              while ($obj = @mysql_fetch_object($res))
              {
                echo '<option value="' . htmlspecialchars($obj->artikelnummer) . '"' . (!strcasecmp(post_value('artikel'), $obj->artikelnummer) ? ' selected' : '') . '>';
                echo htmlspecialchars($obj->artikelnummer) . '&nbsp;' . htmlspecialchars($obj->kurztext) . '&nbsp;(&nbsp;' . htmlspecialchars(number_format($obj->preis,2,',','.')) . '&nbsp/&nbsp;' . htmlspecialchars(number_format($obj->setup,2,',','.')) . '&nbsp;)';
                echo '</option>';
              }
              ?>
            </select>
            <?php }?>
            <?php errormsg('leistung.artikel')?>
          </td>
        </tr>
        <tr>
          <th>Anzahl*</th>
          <td>
            <input name="anzahl" type="text" value="<?=post_value('anzahl')?>" size="10" maxlength="13">
            <?php errormsg('leistung.anzahl')?>
          </td>
        </tr>
        <tr>
          <th>Preis</th>
          <td>
            <input name="preis" type="text" value="<?=post_value('preis')?>" size="10" maxlength="13">
            <?php errormsg('leistung.preis')?>
          </td>
        </tr>
        <tr>
          <th>Setup</th>
          <td>
            <input name="setup" type="text" value="<?=post_value('setup')?>" size="10" maxlength="13">
            <?php errormsg('leistung.setup')?>
          </td>
        </tr>
        <tr>
          <th>Abrechnungsbeginn*</th>
          <td>
            <input name="referenzdatum" type="text" value="<?=post_value('referenzdatum')?>" size="10" maxlength="13">
            <?php errormsg('leistung.referenzdatum')?>
          </td>
        </tr>
        <tr>
          <th>zuletzt abgerechnet am</th>
          <td>
            <input name="abgerechnet" type="text" value="<?=post_value('abgerechnet')?>" size="10" maxlength="13">
            <?php errormsg('leistung.abgerechnet')?>
          </td>
        </tr>
        <tr>
          <th>Abrechnungsende</th>
          <td>
            <input name="endedatum" type="text" value="<?=post_value('endedatum')?>" size="10" maxlength="13">
            <?php errormsg('leistung.endedatum')?>
          </td>
        </tr>
        <tr>
          <th>Rechnungstext</th>
          <td>
            <textarea name="kommentar" cols="60" rows="16" wrap="virtual"><?=post_value('kommentar')?></textarea>
            <?php errormsg('kommentar')?>
          </td>
        </tr>
      </table>
      <input type="submit" value="speichern">
    </form>
    <?php
    if ($leistung)
    {
      $query  = 'SELECT';
      $query .= ' leistung2.id';
      $query .= ',domain.domain';
      $query .= ',domain.unicode';
      $query .= ' FROM leistung';
      $query .= ' LEFT JOIN leistung AS leistung2 ON leistung2.hosting=leistung.id';
      $query .= ' LEFT JOIN domain ON domain.id=leistung2.domain';
      $query .= ' WHERE leistung.id=' . (int)$leistung->id;
      $query .= ' AND NOT ISNULL(leistung2.id)';
      $rdomains = safe_mysql_query ($query);
      if (mysql_num_rows($rdomains))
      {
    ?>
    <hr>
    <h1>Zugeordnete Domains</h1>
    <table border="1">
      <tr>
        <th>Domain</th>
        <th>Unicode</th>
      </tr>
      <?php while($domain=mysql_fetch_object($rdomains)){?>
      <tr>
        <td><a href="/domains_verwalten.php?id=<?php echo urlencode($domain->id)?>&cmd=edit"><?php echo htmlspecialchars($domain->domain)?></a></td>
        <td><?php echo htmlspecialchars($domain->unicode)?></td>
      </tr>
      <?php }?>
    </table>
    <?php }}?>
  </body>
</html>