<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link type="text/css" rel="stylesheet" href="/default.css">
  </head>
  <body>
    <?php @include('header.inc.html')?>
    <h2>Leistungen l&ouml;schen</h2>
    <table border="1">
      <tr>
        <th>anzahl</th>
        <th>Artikelnummer</th>
        <th>Rechnungstext</th>
        <th>Preis</th>
        <th>Setup</th>
        <th>Abrechnungsbeginn</th>
        <th>zuletzt abgerechnet</th>
        <th>Abrechnungsende</th>
      </tr>
      <?php while($leistung=mysql_fetch_object($rleistungen)){?>
      <tr>
        <td><?php echo htmlspecialchars(number_format($leistung->anzahl,2,',','.'))?></td>
        <td align="right"><?php echo htmlspecialchars($leistung->artikelnummer)?></td>
        <td><?php echo htmlspecialchars($leistung->kommentar)?></td>
        <td align="right"><?php echo htmlspecialchars(number_format($leistung->preis,2,',','.'))?></td>
        <td align="right"><?php echo htmlspecialchars(number_format($leistung->setup,2,',','.'))?></td>
        <td align="center"><?php echo htmlspecialchars($leistung->referenzdatum)?></td>
        <td align="center"><?php echo htmlspecialchars($leistung->abgerechnet)?></td>
        <td align="center"><?php echo htmlspecialchars($leistung->endedatum)?></td>
      </tr>
      <?php }?>
    </table>
    <form action="" method="post">
      <input name="confirm" type="hidden" value="1">
      <input name="ids" type="hidden" value="<?php echo htmlspecialchars($ids)?>">
      <input type="submit" value="l&ouml;schen">
      <a href="/index.php"><input type="button" value="abbrechen"></a>
    </form>
  </body>
</html>